<div class="ember-view">
  <div id="subcontent" class="has-sidebar">
    <div class="old-version-warning">
      <p>
        <i class="icon-attention-circled"></i>
        <strong>Getting Started?</strong> Ember CLI is the
        modern, supported way to run an Ember application.
      </p>
      <a class="btn" href={{concat 'https://guides.emberjs.com/v' latestVersionOfDocs '/getting-started/quick-start/'}}>Getting Started Guide</a>
    </div>

    <h2>Ember.js Release Cycle</h2>

    {{release-timeline project=emberBetaProject}}

    <p>
      Ember releases follow a "train" release model. Every
      six weeks, the <code>master</code> branch of Ember (sometimes referred to as
      "canary") branches to become the new beta. After six weeks as a beta, this
      version becomes the new stable release of Ember.
    </p>

    <p>
      The Ember project adheres to
      <a href="http://semver.org/">semantic versioning</a>. Releases are named
      according to a <code>MAJOR.MINOR.PATCH</code> scheme, and only
      <code>MAJOR</code> versions releases may change or remove public APIs after
      deprecation. <code>MINOR</code> versions may introduce new features so long
      as they are backwards compatible, and <code>PATCH</code> releases may include
      bug or security fixes.
    </p>

    <div class="channels section">
      {{outlet}}
    </div>

    <p>
      Periodically, various APIs in Ember may be deprecated. As new releases
      of Ember and Ember Data land, be sure to review the
      <a href="/deprecations">deprecation guides</a> and
      <a href="http://guides.emberjs.com">documentation guides</a>. These are updated
      regularly.
    </p>
  </div>

    {{remove-spinner}}
  </div>
</div>